<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>Dicovery Travel</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description"  content="Travelite - Tours and Travels Online Booking HTML"/>
        <meta name="keywords" content="Travel, html template, Travelite template">
        <meta name="author"  content="Kamleshyadav"/>
        <meta name="MobileOptimized" content="320">
<!-- font-awesome-link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!--srart theme style -->
<link href="{{ asset('client/assets1/css/main.css') }}" rel="stylesheet" type="text/css"/>
<!-- end theme style -->
<!-- favicon links -->
<link rel="shortcut icon" type="image/ico" href="{{ asset('client/assets1/favicon.ico') }}" />
<link rel="icon" type="image/ico"href="{{ asset('client/assets1/favicon.ico') }}" />
		


		

	</head>

<body>

<!--Page loading end-->

<!--Page main section start-->
<div id="travel_wrapper"> 
  <!--Header start-->
  <header id="header_wrapper">
   
	  <!-- popup form Start -->
	
	  <!-- popup form  End -->
    <div class="header_bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <div class="travel_logo">
				<a href="Home_01.html"><img src="{{ asset('client/assets/svg/Logo.svg')}}" alt="logo" /></a> 
			</div>
          </div>
          <div class="col-md-10 col-sm-10"> <a href="javascript:;" class="menu-toggle"></a>
            <div class="main_menu">
              <ul>
                <li class="active"><a href="{{ path('app_home') }}">Acceuil</a></li>
			
				
                 <li><a href="{{ path('app_destination') }}">Voyages</a></li>
							
                <li><a href="{{ path('croisiere') }}">Croisières</a></li>
					
			   <li><a href="{{ path('app_excursion_front') }}">Excursions</a></li>
                <li><a href="{{ path('app_omra_front') }}">Omra</a></li>
                <li><a href="{{ path('app_randonnee_front') }}">Randonnées</a></li>
                <li><a href="{{path('app_forum')}}">Forum</a></li>
                <li><a href="{{ path('app_detail_agence') }}">Agences</a></li>
				 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--Header end--> 
  <!--content body start-->
  {% block body %} {% endblock %}
  <!--content body end--> 
  <!--footer start-->
 <footer id="footer_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <aside class="widget widget_text"> 
			<a href="Home_01.html"><img src="{{ asset('client/assets1/svg/Logo.svg')}}" alt="footer logo" />
			</a> 
<p>Les offres de voyages proposés par les agences de voyages
tunisiennes affiliées dans notre plateforme, sont optimisées
d’une manière simple pour permettre aux utilisateurs de
planifier une aventure parfaite.  </p>            <br>
              
          <aside class="widget widget_tag_cloud">
            <h4 class="widget-title">Tags</h4>
            <div class="tagcloud"> <a href="{{ path('app_destination') }}">Voyages</a> <a href="{{ path('croisiere') }}">Croisière</a> <a href="">Agences</a> <a href="{{ path('app_randonnee_front') }}">Randonnées</a> <a href="{{ path('app_excursion_front') }}">Excursions</a> </div>
          </aside>
        </div>
        <div class="col-md-4">
			<aside class="widget widget_recent_entries">
				<h4 class="widget-title">Recent Posts</h4>
				<ul>
				  <li> <img src="https://via.placeholder.com/91x81" alt="Recent blog">
					<div class="footer_pera">
					  <p>Nunc cursus libero purus ac congue arcu cursus..</p>
					  <a href="">Read More</a> </div>
				  </li>
				  <li> <img src="https://via.placeholder.com/91x81" alt="Recent blog">
					<div class="footer_pera">
					  <p>Nunc cursus libero purus ac congue arcu cursus..</p>
					  <a href="">Read More</a> </div>
				  </li>
				</ul>
			  </aside>
         
        </div>
		<div class="col-md-4">
         <aside class="widget widget_links">
            <h4 class="widget-title">Les liens</h4>
            <ul>
              <li><a href="{{ path('app_destination') }}">Voyages Organisés</a></li>
              <li><a href="{{ path('croisiere') }}">Croisière</a></li>
              <li><a href="{{ path('app_excursion_front') }}">Excursions</a></li>
              <li><a href="{{ path('app_randonnee_front') }}">Randonnée</a></li>
			      <li><a href="{{ path('app_omra_front') }}">Omra</a></li>
              <li><a href="">Special Offers</a></li>
              <li><a href="">Les Agences</a></li>
            </ul>
          </aside>
		   </div>
  </footer>
  <!--footer end-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">  </span> <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i class="fa fa-twitter"></i></a> <a href=""><i class="fa fa-google-plus"></i></a> <a href=""><i class="fa fa-linkedin"></i></a> <a href=""><i class="fa fa-rss"></i></a> </div>
        <div class="col-md-6 col-sm-6 text-right"></div>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript" src="{{ asset('client/assets1/js/jquery.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/bootstrap.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/bootstrap-select.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/datetimepicker/jquery.datetimepicker.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/parallax/jquery.parallax-1.1.3.js') }}"></script> 
<script type="text/javascript"src="{{ asset('client/assets1/js/plugin/owl/owl.carousel.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/isotope/jquery.isotope.js') }}"></script> 
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/bxslider/jquery-bxslider.js') }}"></script> 
<!-- pie chart js -->
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/pie-circle/circles.js') }}"></script> 
<!-- pie chart js -->
<!--counter js-->
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/counter/jquery.countTo.js') }}">
</script>
 <!--counter js-->
<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/counter/jquery.countdown.js') }}">
</script>
	<!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/jquery.themepunch.tools.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/jquery.themepunch.revolution.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/revolution.extension.layeranimation.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/revolution.extension.navigation.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/revolution.extension.slideanims.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/revolution.extension.actions.min.js') }}">
    </script>
    <script type="text/javascript" src="{{ asset('client/assets1/js/plugin/revolution/js/revolution.extension.parallax.min.js') }}">
    </script>
    <!-- REVOLUTION JS FiLES -->
	<!-- video_popup -->
	<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/video-popup/jquery.magnific-popup.js') }}">
    </script>
	<!-- video_popup -->
	<!-- slick slider -->
	<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/slick/jquery-migrate-1.2.1.min.js') }}">
    </script>
	<script type="text/javascript" src="{{ asset('client/assets1/js/plugin/slick/slick.min.js') }}"></script>
	<!-- slick slider -->
	<!-- video player js -->
	<script src="{{ asset('client/assets1/js/plugin/video_player/mediaelement-and-player.min.js') }}"></script>
	<!-- video player js -->
	<!-- pricefilter -->
	<script src="{{ asset('client/assets1/js/plugin/jquery-ui/jquery-ui.js') }}"></script>
	<!-- pricefilter-->
	<script type="text/javascript" src="{{ asset('client/assets1/js/custom.js') }}"></script> 
</body>
</html>