{% extends 'layout.html.twig' %}
 {% block body %}

 <div id="content_wrapper"> 
    <div class="clearfix"></div>

	<div class="slider_tab_main">
	<!-- Home first slider start -->
  <div class="full_width home_slider">
	  <div class="example">
		  <div class="content" style="width:100%; float:left;">
			  <div id="rev_slider_116_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="layer-animations" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				  <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
				  <div id="rev_slider_116_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
					  <ul style="width:100% !important;" class="home_3_slide">
						  <!-- SLIDE  -->
						  <li data-index="rs-391" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Smooth Mask" data-description="">
							  <!-- MAIN IMAGE -->
							  <img src="{{ asset('client/assets/images/3.jpg')}}"   alt="slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYERS -->
							  <!-- LAYER NR. 1 -->
							  <div class="slider_heading_wrap">
								  <div class="tp-caption NotGeneric-Title slideheading  tp-resizeme" id="slide-391-layer-1" data-x="100" 
								  data-hoffset="" data-y="center" data-voffset="-30" data-width="['auto','auto','auto','auto']" 
								  data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" 
								  data-transform_in="x:left;s:2000;e:Power4.easeInOut;" 
								  data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" 
								  data-splitin="none" data-splitout="none" data-responsive_offset="on" 
								  style=" z-index: 8;">
									  <p style="font-size:100px; line-height:60px;" class="best_text">Best</p>
									  <p style="font-size:50px; line-height:60px;">Travel Theme</p>
									  <p style="font-size:100px; line-height:60px;" class="year_text">2015</p>
										
									  
								  </div>
								  <!-- LAYER NR. 3 -->
								  
								  <div class="slider_buttons tp-caption NotGeneric-Title slideheading  tp-resizeme" id="slide-391-layer-2" data-x="100" data-y="center" data-voffset="120" 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-start="2000"
										>
											<a href="#"  style=" border: 1px solid #fdb714;" class="large_slide_btn">View more</a>
											<a href="#"  style=" border: 1px solid #fdb714;" class="large_slide_btn">book now</a>
											
										</div>
								  
								  <!-- LAYER NR. 4 -->
							  </div>
						  </li>
						  <!--slide-->
						  <li data-index="rs-392" data-transition="parallaxhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide Mask" data-description="">
							  <!-- MAIN IMAGE -->
							  <img src="{{ asset('client/assets/images/loginslider.jpg')}}" alt="slide3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							  <!-- LAYER NR. 1 -->
							  <div class="slider_heading_wrap">
								  <div class="tp-caption NotGeneric-Title slideheading  tp-resizeme" id="slide-392-layer-1" data-x="100" 
								  data-hoffset="" data-y="center" data-voffset="-30" data-width="['auto','auto','auto','auto']" 
								  data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" 
								  data-transform_in="x:left;s:2000;e:Power4.easeInOut;" 
								  data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
								  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1000" 
								  data-splitin="none" data-splitout="none" data-responsive_offset="on" 
								  style=" z-index: 8;">
									  <p style="font-size:100px; line-height:60px;" class="best_text">Best</p>
									  <p style="font-size:50px; line-height:60px;">Travel Theme</p>
									  <p style="font-size:100px; line-height:60px;" class="year_text">2015</p>
										
									  
								  </div>
								  <!-- LAYER NR. 3 -->
								  
								  <div class="slider_buttons tp-caption NotGeneric-Title slideheading  tp-resizeme" id="slide-392-layer-2" data-x="100" data-y="center" data-voffset="120" 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									 data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									 data-start="2000"
										>
											<a href="#"  style=" border: 1px solid #fdb714;" class="large_slide_btn">View more</a>
											<a href="#"  style=" border: 1px solid #fdb714;" class="large_slide_btn">book now</a>
											
										</div>
								  
								  <!-- LAYER NR. 4 -->
							  </div>
						  </li>
						  <!--slide-->
					  </ul>
				  </div>
			  </div>
			  <!-- END REVOLUTION SLIDER -->
		  </div>
	  </div>
	  <!-- section end -->
    </div>
  <!-- Home first slider End -->
             <!-- slider booking section  start -->
             <div class="full_width tour_booking_panel">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-12">
                             {{ form_start(form) }}
                             <div class="booking_panel_wrapper_main">
                                 <div class="destination_tab width_30"placeholder="Pays">
								
                                     {{ form_row(form.pays , { 'placeholder':'Destination' })  }}
                                     <i class="fa fa-caret-down"></i>
                                 </div>

                                 <div class="destination_tab width_30">
                                     {{ form_row(form.categorie , { 'placeholder':'Catégorie' })}}
                                     <i class="fa fa-caret-down"></i>
                                 </div>
								  <div class="checking_tab width_30">
                                     
									   {{ form_row(form.mots) }}
                                     
                                 </div>
								   <div class="destination_tab width_30">
                                     {{ form_row(form.grilleTarifaires , { 'placeholder':'date' })}}
                                     <i class="fa fa-caret-down"></i>
                                 </div>

                                 <div class="checking_tab width_30">
                                     <input type="text" placeholder="Check-In-Date" id="booking_checkin_date">
                                     <i class="fa fa-calendar"></i>
                                 </div>

                              
                                     {{ form_row(form.Rechercher)}}
                                    
                               

                              
                                 
                             </div>
                             {{ form_end(form) }}
                         </div>
                     </div>
                 </div>
             </div><!-- slider booking section  end -->
         </div><!-- slider main wrapper end -->
 <div class="full_width travelite_world_section">
		<div class="container">
			<div class="row">
	
				<div class="heading_team">
					<h3>Spéciale Offre</h3>
				</div>
				
						   <!-- first ractangle start -->
						    {% for offre in offres|slice(0, 4)  %}
					       <div class="col-lg-3 col-md-3 col-sm-6">
						    <div class=" full_width offer_box_wrapper">
					    	<div class="circle_icon">
							  90%
							<span>off</span>
							</div>
							<div class="img_overlay_wrapper">
									
{% for image in offre.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100"height="200">
                      
                         {% endfor %}		 
						 							<div class="img_overlay">
							</div>
							</div>
							<div class="full_width offer_inner">
								<h4>{{ offre.titre }}</h4>
								<p>(120 Places)</p>
								<div class="overlay_btn">
								<a href="{{ path('app_package_Details_offre',{'id':offre.id}) }}" class="green_btn">See all</a>
								</div>
								
							</div>
					 </div>
					</div>
					  {% endfor %}
					
					<div class="full_width destination_button">
					<a href="#" class="black_btn feature_more_btn">more destination</a>
					</div>
			
			</div>
		</div>
	</div>
 
 
	<div class="full_width our_partners_crousel_section">
		<div class="container">
			<div class="row row_top_padding">
		<div class="heading_team">
					<h3>Les dernières agences inscrites</h3>
					</div>
			<div id="partner_crousel_slide">
			{% for agence in agences %}
              <div class="item"> {% for image in agence.images|slice(0,1) %}
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                                {% endfor %}</div>
             
			   {% endfor %}
             </div>
					
				
				</div>
			</div>
		</div>
  </div>
   <div class="full_width travelite_feature_section">
		  <div class="container">
			  <div class="row">
				
				  			{% for pays in pays|slice(1,4) %}
				  <div class="col-lg-3 col-md-3 col-sm-6">
					  <div class="feature_box_second">
{% for image in pays.images|slice(0,1) %}
                <img src="{{ asset('/uploads/'~image.name) }}" class="img-responsive" alt="feature" width="200"height="200">
                                {% endfor %}		
												  <div class="feature_overlay_second">
							   <div class="bottom_first"><a href="details.html">{{pays.nom}}</a></div>
							   
							</div>
					  </div>
				  </div>
				  {%endfor%}
				 
				  
				  <div class="col-lg-3 col-md-3 col-sm-6">
					  <div class="end_box_fearure">
						  <h3 class="travelite_heading_feature">top destination</h3>
						  <p>Create stunning pages with our powerful admin </p>
						  <div> <a href="#" class="black_btn">view more</a></div>
					  </div>
				  </div>
				  
			  </div>
		  </div>
	  </div>

  {% endblock %}