  {% extends 'layout.html.twig' %}
 {% block body %}
 <div id="content_wrapper">
  <!--page title Start-->
  <div  data-stellar-background-ratio="0" data-stellar-vertical-offset="0">
  <img src="{{ asset('client/assets/images/omra.jpg')}}" alt="destination" />
<div class="row space_100">
  <div class="travelite_destinaion_main">
			<div class="heading_team">
				<h3>Omra</h3>
				<p>Create stunning pages with our powerful admin panel. Functionality and usability combine. Travelllers Deals and Offers on Hotels, Vacation Packages, Flights, Cruises and Car Rentals</p>
			</div>
        </div>
     
    
    <!--page title end-->
    <div class="clearfix"></div>
	
	<div class="full_width destinaion_sorting_section">
	  <div class="container">
	   <div class="row space_100">
	    <!--  sorting panel End -->
	   <div class="col-lg-12">
	     <div class="full_width sorting_panel">
		 
		 <div class="sorting_destination">
					<select class="form-control selectpicker" data-live-search="true" id="search_rooms">
						<option value="1">Sort by : Popularity</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
					</select>
					<i class="fa fa-caret-down"></i>
				</div>
				<div class="sorting_destination">
					<select class="form-control selectpicker" data-live-search="true" id="search_places">
						<option value="1">Show: 9 places/page</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
					</select>
					<i class="fa fa-caret-down"></i>
				</div>
				<div class="sorting_destination">
					<select class="form-control selectpicker" data-live-search="true" id="search_price">
						<option value="1">Sort by : Price</option>
						<option value="2">50</option>
						<option value="3">75</option>
						<option value="4">100</option>
					</select>
					<i class="fa fa-caret-down"></i>
				</div>
				<!-- sorting list -->
				<div class="pull-right sort_list_grid">
				<a href="Tour_destination.html"><i class="fa fa-th-large active_sort"></i></a>
				<a href="Tour-Packages-List-View.html"><i class="fa fa-th-list"></i></a>
				</div>
				<!-- sorting list end-->
		 
		 </div>
		 </div><!--  sorting panel End -->
		 
		 
		 
		 <!-- sorting places section -->
		 <div class="full_width sorting_places_section">
		 
		     <div class="row">
              <!--  place sort start -->
                  {% for omra in omra %}

              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="sorting_places_wrap">
                <div class="thumb_wrape">
{% for image in omra.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="100">
                      
        {% endfor %}                  </div>
                <div class="bottom_desc">
                <h4><a href="{{ path('app_package_Details_omra',{'id':omra.id}) }}">{{ omra.titre }}</a><span> {% for grilletarifaire in omra.grilletarifaires %}{{grilletarifaire.prix}}{% endfor %}</span></h4>
                <span class="packs">(178 Packs)</span>
                </div>
                </div>
                </div>
                      <!--  place sort End -->
                 
                 <!--  place sort start -->
                
			         {% endfor %}  
	   </div>
	     <!-- sorting places section -->
	    <!-- pagination section -->
	   <div class="full_width pagination_bottom">
		   <ul class="pagination">
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
	      </ul>
	   </div>
	   <!-- pagination section -->
	  </div>
	</div>

  </div>
  {% endblock %}